.custom-book{
    background: linear-gradient(135deg,rgb(169,65,109),rgb(51,36,83));
}


.tah-clear-sans{
    font-family: "Clear Sans";

}

.book-img-style{
    margin-top: 5vh;

}

.book-img-blur{
    -webkit-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);
    box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);
    
    animation-name: fadeInUp-book-img;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 0.2s;
}

@keyframes fadeInUp-book-img {
    0% {
        opacity: 50%;
        transform: translateY(20px);
    }
    100% {
        opacity: 100%;
        transform: translateY(0);
    }
}


.buy-book > p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    
}

.buy-book{
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
    
    /* color: rgb(255, 255, 255); */
    color: black;
    padding: 20px 45px;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 30px;

    
    

    
    background: -webkit-linear-gradient(20deg, #da48ff,#4fcdff);

    box-shadow:
    0 0 50px rgba(255, 255, 255, 0.114),           
    /* outer white  */
    -10px 0 80px #f0f,        
    /* outer left magenta  */
    10px 0 80px #0ff; 
    

    background: rgb(255, 255, 255);

    

    transition: 0.3s;
}

.buy-book:hover{

    transform: scale(1.1);

    /* background: rgb(214,137,255); */
    /* background: linear-gradient(126deg, rgba(214,137,255,1) 0%, rgba(115,241,255,1) 100%); */


}

